nav {
    background: #f5f5f5;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .links a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}
nav .logo img{
    font-weight: bold;
    font-size: 1.2em;
    height: 25px;
}

.tutor-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.tutor-table th {
    background: #ddd;
    padding: 8px;
    text-align: left;
}

.tutor-table td {
    padding: 8px;
}

.tutor-table tr:nth-child(even) {
    background: #f5f5f5;
}

.tutor-table tr:hover {
    background: #e8f0ff;
}

.badge-sujet {
    background-color: #17a2b8;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: .85rem;
}
